@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0%;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #C697F5;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    padding-top: 10px;
    padding-left: 50px;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 30px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  li a:is(:link, :active, :visited).active{
      color: white;
      background-color: #5e2497;
  }
  nav ul li a:hover{
    color: white;
    background: #5e2497;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  
  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color:#C697F5;
    transition: all .5s ease;
    z-index: 100;
}
.sidebar.close{
    width: 78px;
}


.logo-box{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    transition: all .5s ease;
}
.logo-box:hover{
    color: white;
}
.logo-box i{
    font-size: 30px;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    transition: all .5s ease;
}
.sidebar.close .logo-box i{
    transform: rotate(360deg);
}
.logo-name{
    font-size: 22px;
    font-weight: 600;
    margin-left: 50px;
    margin-top: 20px;
}


.sidebar-list{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}
.sidebar-list::-webkit-scrollbar{
    display: none;
}
.sidebar-list li{
    transition: all .5s ease;
}
.sidebar-list li:hover{
    background-color: #bb84ee ;
}
.sidebar-list li .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    cursor: pointer;
    line-height: 60px;
    padding-left:50px;
    background: #7a18b3;
}
.sidebar-list li.active .title{
    background-color: #ab63f3;
}
.sidebar-list li .title .link{
    display: flex;
    align-items: center;
}
.sidebar-list li .title i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: black;
    font-size: 20px;
}
.sidebar-list li .title .name{
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.sidebar-list li .submenu{
    width: 0;
    height: 0;
    opacity: 0;
    transition: all .5s ease;
}
.sidebar-list li.dropdown.active .submenu{
    width: unset;
    height: unset;
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding: 6px 6px 14px 80px;
    background-color: #d3a7ff;
}
.submenu .link{
    color: black;
    font-size: 15px;
    padding: 5px 0;
    transition: all .5s ease;
}
.submenu .link:hover{
    color: #fff;
}
.submenu-title{
    display: none;
}

.sidebar.close .logo-name,
.sidebar.close .title .name
{
    display: none;
}

.sidebar.close .sidebar-list{
    overflow: visible;
}
.sidebar.close .sidebar-list li{
    position: relative;
}
.sidebar.close .sidebar-list li .submenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    height: max-content;
    width: max-content;
    opacity: 0;
    transition: all .5s ease;
    pointer-events: none;
}
.sidebar.close .sidebar-list li:hover .submenu{
    opacity: 1;
    top: 0;
    pointer-events: initial;
    background-color: #d3a7ff;
}
.sidebar.close .submenu-title{
    display: block;
    font-style: 18px;
    
}


.home{
    position: relative;
    
    left: 260px;
    width: calc(100% - 260px);
    height: 100vh;
    transition: all .5s ease;
}
.sidebar.close ~ .home{
    left: 78px;
    width: calc(100% - 78px);
}
.home .toggle-sidebar{
    height: 60px;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}
.home .toggle-sidebar i{
    font-size: 50px;
    color: black;
    margin-left: 10px;
    margin-bottom: 130px;
}

  .wrapper{
    width: 100%;
  }
  header{
    background-color: #C697F5;
  }
  .img-info{
    width: 100%;
  }
  .img-info img{
    margin-top: 30px;
    width: 100%;
  }
  .img-info h5{
    padding: 30px 30px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #111;
    line-height: 44px;
    position: absolute;
    top: 17%;
    left: 7%;
  }
  .img-info p{
    padding: 0px 30px 20px;
    font-family: Helvetica;
    font-size: 16px;
    color: #111;
    line-height: 24px;
    position: absolute;
    top: 25%;
    left: 7%;
  }
  .img-header{
    padding: 60px 30px 20px;
  }
  
  .img-home{
    width: 100%;
  }
  
  body{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    font-family: montserrat;
    background-image: linear-gradient(white, #C697F5);
  }
  
  @media only screem and (min-width:414px){
    header{
      display: block;
      width: 100%;
      padding-bottom: 30px;
  }
  .wrapper{
      width: 415px;
      margin: 0 auto;
  }
  .img-info img {
      display: block;
      width: 100%;
      height: auto;
    }
  .img-info h5{
      padding: 20px 0px 0px;
      top: 18%; 
      left: 20%; 
  }
  .img-info p{
      padding: 20px 0px 0px;
      top: 25%;
      left: 20%;
      right: 20%;
  }
  .img-home{
      padding-top: 30px;
  }
  }
  
  
  @media only screen and (min-width: 768px) {
    header{
        display: block;
        background-color: #C697F5;
        width: 100%;
        padding-bottom: 30px;
    }
    .wrapper{
        width: 600px;
        margin: 0 auto;
    }
    .img-info img {
        display: block;
        width: 100%;
        height: auto;
      }
    .img-info h5{
        padding: 20px 0px 0px;
        top: 20%; 
        left: 20%; 
    }
    .img-info p{
        padding: 20px 0px 0px;
        top: 25%;
        left: 20%;
        right: 20%;
    }
    .img-home{
        padding-top: 30px;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .wrapper{
        width: 1000px;
    }
    .img-info{
        width: 50%;
        position: relative;
        display: inline-block;
    }
    .img-info img {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 200px;
      }
    .img-info h5{
        padding: 20px 0px 0px 30px;
        position: absolute;
        top: 40%; 
        left: 8%; 
    }
    .img-info p{
        padding: 20px 0px 0px 30px;
        position: absolute;
        top: 50%; 
        left: 10%; 
    }
    .img-home{
        padding-top: 0px;
        width: 50%;
        float: right;
        margin-top: 100px;
    }
    
  
  }
  
  
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #eddcff;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a:hover{
      background: none;
      color: black;
    }
  }
  